In [3]:
### normal Dictionary
movie={"name":"Dangal","year":2016,"director":"Nitesh Tiwari"}
movie

{'name': 'Dangal', 'year': 2016, 'director': 'Nitesh Tiwari'}

In [ ]:
###typed dictionary
from typing import TypedDict
class Movie(TypedDict):
    name: str                # in typed dictionary we explicitly declare the types of values
    year: int                # reducing the chances of  runtimeerror
    director: str

movie: Movie = {"name":"Dangal","year":2016,"director":"Nitesh Tiwari"}
movie

{'name': 'Dangal', 'year': 2016, 'director': 'Nitesh Tiwari'}

In [ ]:

### Union
from typing import Union
def square(x: Union[int,float]) -> float:
  return x*x

x=5
x=1.23
x="I am a string"

square(x)

1.5129

In [ ]:
#Optional       # it can be str or None # not anything else

from typing import Optional
def greet(name: Optional[str]) -> None:
    if name is None:
        print("Hare krishna, Shreeman Narayan")
    else:
        print(f"Hare Krishna, {name}")
greet("Radha")     
greet(None)

Hare Krishna, Radha!
Hare krishna, Shreeman Narayan

In [ ]:
### Any      # it can be anything and allows maximum flexibility
from typing import Any

def print_value(x: Any):
    print(x)

print_value("I pretend to be Shaktiman  in the shower sometimes")

I pretend to be Shaktiman  in the shower sometimes

In [5]:
lambda_func = lambda x: x ** 2
print_value(lambda_func(5))

nums = [1, 2, 3, 4, 5]
squared_nums = list(map(lambda_func, nums))
print_value(squared_nums)

25
[1, 4, 9, 16, 25]